classes_gen
source_gen
source_gen.caches
test_gen
test_gen.cached
test_gen.caches
test_gen
workspace.xml
libraries.xml
.DS_store
delivery
delivery-allScripts/
_spreferences
Playground
build.properties
gradle.properties
projectlibraries.overrides.properties
.gradle
.idea
artifacts
build
buildSrc
tmp
*.swp
